body,html{
	height: 100%;
}

body{
	/*background: linear-gradient(150deg,#53f 15%,#05d5ff 70%,#a6ffcb 94%);
	#ffd89b → #19547b
	*/
	background: linear-gradient(to right, rgb(255, 216, 155), rgb(25, 84, 123));
	background-repeat: no-repeat;
	font-family: 'Josefin Sans', sans-serif;
	color: #F0EEEE;
	
}

/*get rid of border when buttons are clikced*/
button:active{
	outline: none;
}

/*center div horizontally*/
.container{
	width: 90%;
	height: 100%;
	margin: 0 auto;
}

/*utilites*/
.text-center{
	text-align: center;
}

.flex{
	display: flex;
}

.flex-center{
	justify-content: center;
}

.flex-end{
	align-items: flex-end;
}

.space-around{
	justify-content: space-around;
}

.align-center{
	align-items: center;
}

.padding{
	padding-top:10px;
	padding-bottom: 10px;
}

.no-display{
	display: none;
}

.display{
	display: block;
}

.bg-change{
	/* Add the blur effect */
	background-color: rgba(0,0,0,0.1);
	/*filter: blur(0.5px);
	-webkit-filter: blur(0.5px);*/
}


/*menu items*/
/*center div vertically*/
.menu{
	/*display: none;*/
	width: 90%;
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.Title{
	padding: 2rem 0;
}

/*remove button background*/
.remove-btn-bg{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.bar{
	padding-left: 35px;
}

.select-difficulity{
    
	padding: 5px 15px;
	margin: 0 10px;
	border-radius: 5px;
	border: none;
	outline:none;
	font-family: 'Josefin Sans', sans-serif;
	cursor:pointer;
	
}

.bg-green{
	background-color: #00E515;
}

.bg-yellow{
	background-color: #FFFB01;
}

.bg-red{
	background-color: #FF0101;
}


/*tile*/
.border{
	border: 1px solid black;
}

.tile{
	/*display: none;*/
	width: 30%;
    margin: 0 auto;
    /*position div in center*/
    position: absolute;
    top: 50%;
    left: 35%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	
}

.row{
	width: 100%;
}

.col{
	height: 100px;
	flex:1;
}

/*player icon*/

.player-icon{
	padding: 0;
	margin: 0 10px;
}

.two-players{
	height: 14px;
}

/*player text box*/
.player-input{
	margin: 0 10px;
	background-color: Transparent;
    background-repeat:no-repeat;
    outline:none;
    border: 0px none;
    border-bottom: 1px solid #333;
}

/*status display*/
.status-div{
	height: 23%;
}

/*number stats*/
.number-display{
	padding: 10px;
	border-bottom: 1px solid #333;
}

/*symbol*/
.symbol{
	height: 100%;
	font-size: 50px;
}

/*rematch button*/
.rematch-div{
	position: relative;
	top: 30px;
	border-radius: 10px;

}

.rematch-btn{
	background: linear-gradient(90deg, rgba(255,59,0,1) 0%, rgba(255,162,0,1) 33%, rgba(172,255,0,1) 100%);
	color: white;
	font-size: 22px;
	outline:none;
	cursor: pointer;
	padding: 15px 30px;
	border-radius: 10px;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #333;
  opacity: 0.8; /* Firefox */
}